* {
  color: rgba(0, 0, 0, 0.8);
}
ul {
  list-style-type: none;
}
.item-container {
  height: 20vh;
  display: flex;
  box-shadow: 3px 5px 1px #ccc;
  border-radius: 20px;
  background-color: #f4f4f4;
  margin-bottom: 1em;
}
div > ul {
  display: flex;
  flex-flow: column;
}
.image-container > img {
  height: 200px;
  height: 177px;
  padding: 1em;
}
.description-container {
  padding-left: 20px;
  padding-top: 0.9em;
}
